<div>
    <h2 class="page-heading">
        <svg class="heading-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
        <span th:text="#{stat.title}">Statistics</span>
    </h2>

    <form   hx-get="/statics/custom"
            hx-target="#stat-res"
            hx-swap="innerHTML"
            hx-trigger="change[document.getElementById('time-range').value !=='']"
    >
        <div>
            <label for="time-range" th:text="#{stat.select.timeframe}">Select timeframe:</label>
            <input id="time-range"
                   type="text"
                   name="dateRange"
                   th:placeholder="#{stat.placeholder.date}"
                   readonly>
        </div>
        <div style="margin-top: 15px;">
            <label for="top-size" th:text="#{stat.label.topSellers}">show-top-sellers</label>
            <select id="top-size" name="size">
                <option value="1" th:text="#{stat.option.top('1')}">top-1</option>
                <option value="5" selected th:text="#{stat.option.top('5')}">top-5 </option>
                <option value="10" th:text="#{stat.option.top('10')}">top-10 </option>
                <option value="20" th:text="#{stat.option.top('20')}">top-20 </option>
                <option value="50" th:text="#{stat.option.top('50')}">top-50 </option>
            </select>
        </div>
        <div style="margin-top: 15px;">
            <label for="least-items" th:text="#{stat.label.leastSellers}">show-least-sellers</label>
            <select id="least-items" name="leastSize">
                <option value="1" selected th:text="#{stat.option.least('1')}">least-1</option>
                <option value="5" th:text="#{stat.option.least('5')}">least-5</option>
                <option value="10" th:text="#{stat.option.least('10')}">least-10</option>
                <option value="20" th:text="#{stat.option.least('20')}">least-20</option>
                <option value="50" th:text="#{stat.option.least('50')}">least-50</option>
            </select>
        </div>

    </form>

    <article id="stat-res" style="margin-top: 20px;" th:text="#{stat.initial.message}">
        Select dates to view stats
    </article>
</div>

<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}">
<script th:src="@{/js/flatpickr.min.js}"></script>

<script>
    (function () {
        flatpickr("#time-range", {
            mode: "range",
            dateFormat: "Y-m-d",
            showMonths: 2,
            allowInput: false,
            onClose: function (selectedDates, dateStr, instance) {
                document.getElementById('time-range').dispatchEvent(new Event('change',{bubbles:true}));
            }
        });
    })();
</script>
