<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">pos system -login</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
<h2 th:text="#{login.heading}">login here!</h2>

<form th:object="${loginForm}" hx-post="/auth/login" hx-target="#form-message" hx-swap="innerHTML">

    <div>
        <label>
            <span th:text="#{login.label.email}">email:</span>
            <input id="email" name="email" type="email"
                   th:value="${#strings.isEmpty(loginForm.email) ? 'user123@Gmail.com' : loginForm.email}"
                   autocomplete="username" required>
        </label>
    </div>
    <div>
        <label>
            <span th:text="#{login.label.password}">password:</span>
            <input id="password" name="password" type="password"
                   th:value="${#strings.isEmpty(loginForm.password) ? 'A@123456' : loginForm.password}"
                   autocomplete="current-password" required>
        </label>
    </div>

    <button type="submit" th:text="#{login.btn.submit}">login</button>

</form>
<div id="form-message"></div>

</body>
</html>